
p{
  margin-top: 210px;
  margin-right: 150px;
  margin-left: 380px;
  line-height: 21px;
  font-size: 15px;
  font-weight: normal;

}
#logo {
  width: 230px;
  height: 230px;
  margin-left: 500px;
  border-radius: 100%;
  border-style: solid;
  border-color: darkgray;
  border-width: 5px;
  margin-top: -40px;
}

.back {
  width: 100%;
  height: 270px;
  background-color: #3131dc;

}
#infos{
  margin-left: 20px;
  padding: 20px;
  color: white;
}
.gérant{
  margin-top: 250px;
  margin-left: 80px;
  border-radius: 20px;
  width: 300px;
  height: 300px;

}






