.monit{
  background-color: #3131dc;
  margin-top:100px;
}
label{
  margin-left: 105px;
  font-size:25px ;
  font-weight: bold;
  color: orange;
  margin-top: 20px;
}
p{
  color: white;
}
img{
  margin-left: 60px;
}





