<nav class="navbar navbar-expand-sm navbar-light bg-light " >
  <img class="navbar-brand"src="assets/mylogo.png" style="display: inline-block;height: 50px;">
  <div class="navbar-collapse collapse " class="menu" >
    <ul  class= "nav justify-content-end"  >

    <li class="nav-item"><a class="nav-link "   routerLink="/permis">PERMIS</a></li>
    <li class="nav-item"><a class="nav-link "  routerLink="/noslocalisations">NOS LOCALISATIONS</a></li>
    <li class="nav-item"><a class="nav-link " href="#ad">CONTACT</a></li>
      <button  id="btn" type="button" class="btn btn-outline-secondary waves-effect" (click)="onContinue()">Connexion</button>


    </ul>
    </div>
    </nav>



