<div id="ad" class="adr">
<div  class="container">
  <div class="row">
    <div class= "col">
     <img src="assets/permi_ma-18.png" style="width: 240px;position: center;margin-top: 25px"><br><br><br>
      <div class="d-flex justify-content-start">
        <img src="assets/permi_ma_call.png"style="width:20px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <address>
          <a href="tel:#">+212 (0) XXX-XXX-XXX</a>
        </address>
      </div><br>
      <div class="d-flex justify-content-start">
        <img src="assets/permi_ma_mail.png"style="width:20px;height: 20px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <address>
          <a href="#">contact@permi.ma</a>
        </address>
      </div><br>
      <div class="d-flex justify-content-start">
        <img src="assets/permi_ma_location.png"style="width:20px;height: 30px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label> N °X,lotissement BIG SAKKAN,<br>étage 4 bureau X,<br>IZDIHARE 40170 Marrakech</label>
      </div>
    </div>
    <div class= "col">
      <span class="vertical"></span>
    </div>
    <div id="message" class= "col"><br>
      <label for="inputEmail" class="form-label" class="font-weight-bold">Envoyer un message</label><br><br>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">
<br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Votre message</label><br><br>
      <div class="d-flex justify-content-between">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" cols="10"></textarea>
      <button id="send" type="submit" style="border-radius: 100%"><img src="assets/permi_ma_message_send.png"style="height: 60px;width: 60px"></button>
        </div>
      </div>
    </div>
    <div>
      <img src="assets/permi_ma_payment.png" style="height: 40px;width:500px; margin-left: 250px;margin-top: 60px">
    </div>
    <div>
      <label id="pow">powered by anybox agency</label>&nbsp;&nbsp;
      <img src="assets/permi_ma_anybox_agency.png"style="width: 35px;height: 35px">
    </div>
  </div>
</div><br><br>

</div>
