.adr{
  background-color: #072636;
  margin-top: 100px;
}
.vertical{
  display: inline-block;
  height: 94%;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
 margin-left: 100px;
  margin-top:20px;
}
label{
  color: white;
}
#message{
  position: center;
}

#pow{
font-size: large;
 margin-left: 400px;
  margin-top: 80px;
}
#send{
  margin-top: 90px;
  background: #072636;
  border-color: #072636;

}
