.title {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: 300px;
  color: #15303f;
}
#cont{
  margin-left: 60px;
}
hr{
  margin-top: 50px;
}

.text{
  font-weight: bold;
  text-align: center;
}
img{
 margin-left: 48px;
}
