<div class="title">
  <p >Nos Services</p></div><br>
<div  id="cont" class="container">
  <div class="row">


    <div class="col">
      <img src="assets/cap1.png"><br><br>
      <label ><p class="text">Révisez le code où et<br> quand vous voulez<br></p><p class="font-weight-light">Entraînez-vous au Code<br> de la route intégralement <br>en ligne ou dans nos <br>agences.</p></label>
    </div>
    <div class="col">
      <hr></div>
      <div class="col">
        <img src="assets/Cap2.png"><br><br>
        <label ><p class="text">Apprenez à conduire ici, là,<br> ou même ailleurs</p><p class="font-weight-light">Nos moniteurs d'auto école <br>passent vous prendre dans <br>l’un des 648 points de <br>rendez-vous, partout en <br>France.</p></label>
      </div>
    <div class="col">
      <hr></div>
      <div class="col">
        <img src="assets/cap3.png"><br><br>
        <label ><p class="text">Bénéficiez de solutions <br>flexibles et économiques </p><p class="font-weight-light">Des packs permis de conduire  <br> tout compris dès 549€ et <br> la possibilité de payer en  <br>deux ou trois fois sans frais.</p></label>
      </div>


  </div>
</div>
