<div class="card">
  <link rel="stylesheet" href="permis.component.css">
  <div class="card-header">PERMIS</div>
  <div class="card-body">
    <div class="grand-titre1">
      <h1>Lorem ipsum Lorem ipsum Lorem ipsum</h1></div>
    <div class="image1">
    <img class="image1" src="assets/permi_ma_permis_4.png"></div>
    <div class="titre1">
    <h2 class="titre1">Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit</h2>
    <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore
      magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
      quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea commodo consequat. Duis autem vel eum iriure
      dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
      iusto odio dignissim qui blandit praesent luptatum zzril delenit
      augue duis dolore te feugait nulla facilisi.
      Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
      diam nonummy nibh euismod tincidunt ut laoreet dolore
      magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
      quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea commodo consequat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
      diam nonummy nibh euismod tincidunt ut laoreet dolore
    </p>
    </div>
    <div class="grand-titre2">
      <h1>Lorem ipsum Lorem ipsum Lorem ipsum</h1></div>
    <div class="image2">
      <img class="image2" src="assets/permi_ma_permis_3.png">
    </div>
    <div class="titre2">
      <h2 class="titre2">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit</h2>
      <p class="para2">sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat. Duis autem vel eum iriure
        dolor in hendrerit in vulputate velit esse molestie consequat, vel
        illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi.
        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore
      </p>
    </div>
    <div class="grand-titre3">
      <h1>Lorem ipsum Lorem ipsum Lorem ipsum</h1></div>
    <div class="image3">
      <img class="image3" src="assets/permi_ma_permis_2.png">
    </div>
    <div class="titre3">
      <h2 class="titre3">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit</h2>
      <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat. Duis autem vel eum iriure
        dolor in hendrerit in vulputate velit esse molestie consequat, vel
        illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi.
        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore
      </p>
    </div>
  </div>
</div>
