.card{
  background-color:whitesmoke;
}

.card-header{
  font-size: 70px;
  font-family: Cambria;
  position: center;
  margin-top:80px;
  margin-left: 500px;
  background-color:whitesmoke;
  font-weight: bold;

}
.grand-titre1{
  margin-top:70px;
  margin-left: 400px;
}
.grand-titre2{
  margin-top:100px;
  margin-left: 400px;
}
.grand-titre3{
  margin-top:200px;
  margin-left: 400px;
}
.titre1{
  margin-left: 370px;
  margin-top: 10px;
  font-family: Cambria;
  margin-top: 80px;
  background-color:whitesmoke;


}
.titre2{
  margin-left: 8px;
  font-family: Cambria;
  margin-top: 80px;
  background-color:whitesmoke;
  margin-right: 380px;


}
.titre3{
  margin-left: 400px;
  margin-top: 10px;
  font-family: Cambria;
  margin-top: 80px;
  background-color:whitesmoke;


}
.image1{
  width:600px;
  height: 400px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 40px;
  float:left;
  background-color:whitesmoke;
}
.image2{
  width:600px;
  height: 400px;
  border-radius: 20px;
  margin-top: 40px;
  margin-right: 30px;
  float:right;
  background-color:whitesmoke;


}
.image3{
  width:600px;
  height: 400px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 50px;
  float:left;
  background-color:whitesmoke;
}
p{
  margin-left: 400px;
  font-size: 20px;
  line-height: 21px;
}
.para2{
  margin-right:400px;
  font-size: 20px;
  margin-left: 8px;
  display: block;
}

