<div class="d-flex justify-content-center ">
  <p class="Avis">Avis</p>
  <a routerLink="zone" ><button type="button" class="btn btn-default">+</button></a></div>
<div  class="container">
  <div class="row">

    <div class= "col" >
      <div class="bord">
      <p  class="font-weight-light">On apprend à son rythme en fonction de nos<br>  disponibilitées aussi bien pour le code que pour <br> la conduite.Juste il faudrait rajouter des points<br>  de rendez vous pour les cours...</p>
        <br><br>
        <div class="d-flex justify-content-between">
          <figcaption class="blockquote-footer mb-0">
          Gaetan R.
        </figcaption>
          <div class="rating">
            <div class="stars">
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
            </div>
          </div>
    </div>
      </div>
    </div>
    <div class= "col">
      <div class="bord">

      <p  class="font-weight-light">Je suis satisfaite de la formation e-learning <br> ludique clair et simple également de la prise du<br> RDV pour passer mon examen de code<br>  simple rapide rien a redire...</p>
        <br><br>
        <div class="d-flex justify-content-between">
          <figcaption class="blockquote-footer mb-0">
          Gaetan R.
        </figcaption>
        <div class="rating">
          <div class="stars">
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
    </div>
      </div>
    </div>
    <div class= "col">
      <div class="bord">
        <p  class="font-weight-light">Des moniteurs super sympa et très <br>professionnel. J'aurais bien aimé avoir plus de<br> créneau dans l'horaire pour conduire <br>malheureusement je pense qu'il y...</p>
        <br><br>
        <div class="d-flex justify-content-between">
          <figcaption class="blockquote-footer mb-0">
          Gaetan R.
        </figcaption>
          <div class="rating">
            <div class="stars">
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
              <i class="fa fa-star gold"></i>
            </div>
          </div>
  </div>
</div>
</div>
<div>
</div>
  </div>

      <div id="avis" class="d-flex justify-content-around ">
    <a href="#">Voir tout les avis</a>
    </div>

</div>

